/* notes */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

h1 {
    text-align: center;
}

table {
    padding: 5px;
    text-align: center;
    margin: 5px;
    table-layout: fixed;
    border-radius: 5px;
}

td {
    padding: 10px;
}

.board td {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
}

.revealed.hidden {
    display: none;
}

.revealed {
    display: inline;
}

.timer {
    display: inline;
}

.mark {
    background-color: lightpink
}